services:
  db:
    image: postgres
    volumes:
      - ./tmp/db:/var/lib/postgresql/docker
    environment:
      - POSTGRES_PASSWORD=freshd
    ports:
      - "5432:5432"
  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/ez-on-rails
    ports:
      - "3000:3000"
    depends_on:
      - db
