= render partial: 'ez_on_rails/shared/index', locals: {\
    render_info:  render_info_bearer_token_access_test,
    resources: @resource_objs,
    queue_obj: @queue_obj,
    obj_class: @obj_class,
    selectable: default_selectable_info,
    print_controls: true,
    print_new: true,
    print_search_form: true\
  }
