= render partial: 'ez_on_rails/shared/model_form', locals: {\
           obj: resource,
           post_url: registration_path(resource_name),
           render_info: render_info_users_registrations,
           save_label: t(:register),
           hide_save_icon: true,
           print_back: true\
        }
