/*
  Overwrite bootstrap pagination colors
*/
.pagination > .page-item > .page-link {
  color: black;
}
.pagination > .page-item.active > .page-link {
  background-color: #6c757d;
  border-color: #6c757d;
}
