p = t(:'devise.mailer.reset_password_instructions.greeting', username: @resource.username)
p = t(:'devise.mailer.reset_password_instructions.message_part_1')
p = link_to t(:'devise.mailer.reset_password_instructions.message_part_2'),
            edit_password_url(@resource, reset_password_token: @token)
p = t(:'devise.mailer.reset_password_instructions.message_part_3')
