.active-storage-upload-field-file-container {
    min-height: 10rem;
    min-width: 7rem;
    padding: 0;
}

.active-storage-upload-field-delete-button {
    border: none;
}

.active-storage-upload-field-error {
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}