.duration-field-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.duration-field-select-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 2em;
}

.duration-field-select-label {

}

.duration-field-select {
    min-width: 3em;
}

.duration-field-select-option {

}