div
  .row
    .col
      = render partial: 'ez_on_rails/shared/index',
              locals: {\
                render_info: render_info_nil_owners,
                resources: @nil_owners,
                print_controls: true,
                selectable: {\
                   actions: [\
                     {\
                       label: t(:'ez_on_rails.destroy_selection'),
                       type: 'danger',
                       method: :delete,
                       target: {\
                         controller: '/ez_on_rails/admin/broom_closet/nil_owners',
                         action: 'destroy_selections'\
                       },
                       confirm: true\
                    }\
                  ]\
                 },
                 print_search_form: true,
                 queue_obj: @queue_obj,
                 obj_class: @obj_class,
                 search_url: { controller: controller_path, action: :search }\
               }
  .row.mt-3
    .col
      = link_to t(:'ez_on_rails.destroy_all'),
              {\
                controller: '/ez_on_rails/admin/broom_closet/nil_owners',
                action: 'destroy_all' \
              },
              class: 'btn btn-danger',
              method: :delete,
              data: confirm_data
