= render partial: 'ez_on_rails/shared/model_form', locals: {\
           obj: resource,
           render_info: render_info_users_passwords,
           post_url: password_path(resource_name),
           save_label: t(:change_password),
           hide_save_icon: true\
}
